* {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

body {
	background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.546)),
		url(/static/backgrounds/background_orig.jpg);
	background-position: center top;
	background-size: cover; /* Default value for most screens */
	background-attachment: fixed;
	background-repeat: no-repeat;

	/* stari fonove 
		rgba(0, 0, 0, 0.58))
		linear-gradient(rgba(0, 0, 0, 0.75)
	*/
}

body.ios {
	background-attachment: scroll;
}

/* @media screen and (max-width: 1500px) {
	body {
		background-size: ; 
	}
} */

@media screen and (max-width: 1220px) {
	body {
		background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.58)),
			url(/static/backgrounds/background_orig_short.jpg);
		background-size: cover;
	}
}

@media only screen and (max-width: 989px) {
	.responsive #top .avia-full-stretch {
		background-attachment: scroll !important;
	}
}

/* @media screen and (max-width: 880px) {
	body {
		background-attachment: scroll;
		background-size: cover;
	}
} */

.container {
	width: 60%;
	padding: 30px 30px;
	margin: 0 auto;
}

h1 {
	font-size: 50px;
	margin-top: 80px;
}

p {
	margin: 10px auto;
	font-weight: 100;
	line-height: 25px;
}

button {
	width: 200px;
	padding: 15px 0;
	text-align: center;
	margin: 40px 15px;
	border-radius: 25px;
	font-weight: bold;
	border: 2px solid #0070bb;
	background-color: rgba(0, 0, 0, 0.17);
	color: #fff;
	cursor: pointer;
	overflow: hidden;
	z-index: 1;
}

span {
	background: #0070bb;
	height: 100%;
	width: 0;
	border-radius: 25px;
	position: absolute;
	left: 0;
	bottom: 0;
	z-index: -1;
	transition: 0.5s;
}

button:hover span {
	width: 100%;
}

button:hover {
	background-color: #0070bb;
	color: #fff;
}

.sub-nav {
	display: none;
	position: absolute;
	background-color: transparent;
	border-radius: 5px;
	padding: 0;
	z-index: -1;
	transform: rotate(90deg) scale(0);
	transform-origin: top left;
	transition: transform 0.3s, opacity 0.3s, background-color 0.3s;
}

.submenu:hover .sub-nav {
	display: block;
	transform: rotate(0) scale(1);
	opacity: 1;
	background-color: rgba(34, 34, 34, 0.9);
	padding: 10px;
	border: 2px solid #0070bb;
	z-index: 1;
}

.thankyou h2,
.thankyou p {
	color: #fff;
}

.social h2 {
	font-size: 24px;
	color: #333;
}

.social p {
	font-size: 16px;
	color: #666;
	margin-bottom: 10px;
}

.social .phone {
	font-weight: bold;
	color: #007bff;
}

.social h2 {
	margin: 0 auto;
	display: block;
}

#promotions-message {
	display: none;
	text-align: center;
	color: #fff;
	margin-top: 20px;
}
